.tekst{
    position: sticky;
    margin-left: 50px;
    width: 500px;
  }

  .alapealkiri{
    text-align: center;
  }
.Slidid img{
    width:600px;
    height: 400px;
    float: left;

}
.kõrvuti {
    display: table;
    width: 100%;
    height: 400px;
    overflow: auto;
    table-layout: fixed;
}
.tekst {
    display: table-cell;
    text-align: left;
    margin-bottom: 25%;
    float: left;
    width: auto;
}
.Slidid {
    display: table-cell;
    text-align: center;
}
.Slidid img{
    border-radius: 5%;
    
}

 .sisu1 img{
     width: 250px;
     height: 250px;
     border-radius: 50%;
     margin: auto;
     float: left;
     align-content: center;
 }
 
 .liikmed{ 
    display: table; 
}
.liige{ 
    width:100%;
    display: table-row;
    align-items: center; 
    margin-top: 30px;
}
.sisu1{ 
    position: relative;
    display: table-cell;
    width: 50%;
    height: 100%;
    float:left;

 }
 .sisu2{
    position: relative;
    display: table-cell;
    height: 100%;
    width: 50%;
    float:left;


 }
}
.liige{
    display: table-cell;
    text-align: center;
}