.tekst{
    position: sticky;
    margin-left: 50px;
    width: 500px;
  }

  .alapealkiri{
    text-align: center;
  }
.Slidid img{
    width:300px;
    height: 200px;
    float: left;

}
.kõrvuti {
    display: table;
    width: 100%;
    height: auto;
    overflow: auto;
    table-layout: fixed;
}
.tekst {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    float: left;
    width: auto;
}
.Slidid {
    display: table-cell;
    text-align: center;
}

